@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/
	.wrapper
		width: 90%
	.btn_mnu
		display: block
	.team
		ul.item-team
			li
				width: 24%
				float: left
				margin: 0 auto
				list-style: none
	.wrap-pk
		width: 285px
	.ord-btn
		span
			padding: 6px 0
	.contacts
		.form-area
			.form-contact
				input[type="text"], input[type="email"]
					width: 180px
					margin: 10px
					padding: 11px
			textarea
				width: 396px
/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/
	.wrapper
		width: 90%
	nav
		.item-menu
			display: none
		.item-menu-mobile.activemenu
			display: inline-block
			width: 100%
			background: #f7f7f7
			li
				list-style: none
				width: 99%
				text-align: center
				padding: 10px 0
				background: #FFF
				margin: 2px auto

	.team
		ul.item-team
			li
				width: 100%
				margin-bottom: 20px
	.container-package
		display: table			
	.wrap-pk
		width: 100%

	.contacts
		.contacts-area
			width: 100%
			float: none
		.form-area
			width: 100%
			float: none
			.form-contact
				input[type="text"], input[type="email"]
					width: 94%
			textarea
				width: 93%

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/
	.header-block
		.banner-content
			h1
				font-size: 35px
				margin: 80px 0 0
	#prev-btn, #next-btn
		z-index: 5s
		width: 25px
		height: 25px
		background-size: 100%
	.contacts
		.contacts-area
			width: 100%
			float: none
		.form-area
			width: 100%
			float: none
			.form-contact
				input[type="text"], input[type="email"]
					width: 88%
			textarea
				width: 85%
	
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/

	.contacts
		.contacts-area
			width: 100%
			float: none
		.form-area
			width: 100%
			float: none
			.form-contact
				input[type="text"], input[type="email"]
					width: 85%
			textarea
				width: 82%


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

