@import "fonts"
$color-1: #44c0c2
$text: #4e525d
$button: #788492

body
	margin: 0
	padding: 0
	font-family: "OpenSansRegular"
	color: $text
a
	text-decoration: none
	color: $text

.wrapper
	width: 1170px
	margin: 0 auto
nav
	.item-logo
		display: block
		margin: 30px 0
		float: left
		span
			font-family: "Lobster"
			color: $color-1
			font-size: 43px
	.item-menu
		display: block
		float: right
		li
			list-style: none
			float: left
			a
				padding: 45px 20px
				display: block
				font-size: 15px
				border-bottom: 3px solid #FFF
				transition: .5s
				&:hover, &:focus, &:active
					background: #f8f9fb
					color: #49cbcd
					border-bottom: 3px solid #49cbcd
nav.fixed
	position: fixed
	top: 0
	left: 0
	width: 100%
	background: #fff
	z-index: 5

.header-block
	display: inline-block
	width: 100%
	.banner-content
		position: absolute
		top: 0
		width: 100%
		h1
			margin: 142px 0 0
			text-align: center
			color: #fff
			font-family: "OpenSansSemiBold"
			font-size: 63px
			text-shadow: 0 1px 0 rgba(0, 0, 0, 0.16)
		p
			margin: 40px 0
			color: #fff
			font-size: 23px
		a
			width: 225px
			border: 3px solid #FFF
			border-radius: 10px
			font-size: 26px
			font-family: "OpenSansSemiBold"
			color: #FFF
			display: block
			margin: 0 auto
			height: 63px
			span
				padding: 12px 0
				display: block

.team
	h2
		margin: 100px 0
		font-size: 42px
		text-align: center
	ul.item-team
		width: 100%
		display: inline-block
		padding: 0
		margin-bottom: 90px
		li
			width: 23%
			float: left
			margin: 0 10px
			list-style: none
			.item-photo
				width: 201px
				height: 201px
				border-radius: 50%
				background: #eeeef0
				display: block
				margin: 0 auto
				position: relative
				span
					text-align: center
					display: block
					width: 201px
					height: 201px
					color: #f46d6d
					font-size: 85px
					font-family: "OpenSansExtraBold"
					position: absolute
					top: calc(25% - 10px)
					border-radius: 50%
					opacity: 0
					cursor: pointer
					transition: .5s
					&:hover
						opacity: 1
			.item-name
				text-align: center
				h3
					font-size: 22px
					margin: 70px 0 0
				span
					font-size: 14px
			.item-about
				text-align: center
				font-size: 14px
				margin: 10px 0
				display: inline-block
.package
	background: #f1f1f1
	padding: 120px 0
.container-package
	display: flex
	justify-content: space-between
	width: 100%
.wrap-pk
	width: 368px
	background: #f8f9fb

.title-pk
	width: 100%
	background: #485460
	text-align: center
	padding: 25px 0
	span
		font-size: 26px
		color: #fff

.price
	text-align: center
	font-size: 20px
	padding: 25px 0

.list
	width: 100%
	display: inline-block
	.list-nm
		text-align: center
		font-size: 14px
		padding: 15px 0
		background: #FFF
		margin-bottom: 1px

.ord-btn
 width: 170px
 height: 40px
 background: #788492
 display: block
 margin: 30px auto
 border-radius: 5px
 span
 	display: table
 	margin: 0 auto
 	padding: 9px 0
 	color: #FFF
 	font-size: 17px
	font-family: "OpenSansSemiBold"


.contacts
	background: url(../img/contact.jpg) center no-repeat
	background-size: cover
	min-height: 685px
	display: inline-block
	width: 100% 
	padding-bottom: 90px
	h2
		margin: 100px 0
		text-align: center
		font-size: 42px
		color: #fff
		font-family: "OpenSansRegular"
	.contacts-area
		width: 50%
		float: left
		color: #FFF
		.title-contact
			font-size: 24px
			margin: 0
		.item-desc
			font-size: 14px
			opacity: 0.5
			margin: 5px 0
		.social
			display: inline-block
			margin: 40px 0 20px 0
			.social-icon
				width: 42px
				height: 42px
				float: left
				margin-right: 15px
		.item-contact
			font-size: 14px
			margin: 5px 0
			color: #bface2

	.form-area
		width: 50%
		float: left
		font-family: "OpenSansRegular"
		.form-contact
			display: inline-block
			width: 100%
			input[type="text"], input[type="email"]
				width: 230px
				float: left
				margin: 10px 10px
				padding: 15px
				border-radius: 5px
				border: 0
				font-size: 16px
		textarea
			width: 510px
			margin: 10px 10px
			padding: 15px
			border-radius: 5px
			border: 0
			font-size: 16px
		input[type="submit"]
			font-size: 22px
			background: #49cbcd
			float: right
			width: 170px
			color: #FFF
			border-radius: 5px
			border: 0
			padding: 15px 0
			margin: 10px 35px
			cursor: pointer
			transition: .5s
			&:hover
				opacity: 0.8	






@import "media" // Всегда в конце
